* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: fit-content;
    background: url(./quiz-background\ copy.jpg) no-repeat center center fixed; 
    background-size: cover;
}

/* QUIZ LOGO */

#counter-logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: rgb(196, 235, 198);
    font-style: unset;
    max-width: 100%;
    height: auto;
}

.logo-img img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
}

/* TIMER DIV  */

#timer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dfdfdf; 
    margin: 0 30px 0 30px;  
    font-size: 35px;
    text-shadow: 0 0 15px #fefcc9,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #135e2c,
       
    1px 1px 0 rgb(163, 244, 163),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    margin: 0 50px 0 50px;
    padding: 0;
}

#countdown {
    margin: 0;
    font-size: 50px;
    width: 50%;
    height: auto;
}

/* QUIZ CONTENT */

#quiz-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    height: 400px;
    background-color: #ac6161;
    margin: 20px 0 10px 0;
    padding: 30px;
    background: linear-gradient(#374f23, #4d4216);
    border-radius: 7px;
    opacity: 90%;
}

.questionsDiv {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #8cb093;
    text-align: left;
    padding: 10px;
    font-size: 15px;
  
}



/* BUTTONS */

#startButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

#start {
    background-color: #fe5d5d;
    font-size: 35px;
    width: 100%;
    height: auto;
    margin: 30px 20px 20px 20px;
    padding: 20px;
    border-radius: 17px;
    border: none;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
    opacity: 50%;
}

#start:hover {
    background-color: black;
    cursor: pointer;
    color: #e87878;
    opacity: 120% !important;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

#start:focus {
     outline: none;
 }
 

 a.Highscores {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    font-size: 29px;
    visibility: hidden;
    text-shadow: 0 0 15px #fefcc9,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #135e2c,
       
    1px 1px 0 rgb(163, 244, 163),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
}
 

